<div class="section-footer">
  <div class="footer">
    <div class="hero-legal">
      <a routerLink="/">
        <div class="hero">Emrah</div>
      </a>
      <div class="legal">
        <a routerLink="/legal-notice">Legal Notice</a>
      </div>
    </div>
    <div class="brand">© Emrah Okur 2024</div>
    <div class="links">
      <a href="https://github.com/EmrahOkur" target="_blank">
        <div class="icon">
          <img src="../../assets/img/footer-img/8. Github button(1).png"/>
        </div>
      </a>
      <a href="mailto:info@emrahokur.com">
        <div class="icon">
          <img src="../../assets/img/footer-img/9. Email button(1).png"/>
        </div>
      </a>
      <a href="#" target="_blank">
        <div class="icon">
          <img src="../../assets/img/footer-img/10. Linkedin button(1).png"/>
        </div>
      </a>
    </div>
    <div class="legal2">
      <a routerLink="/legal-notice">Legal Notice</a>
    </div>
  </div>
</div>
