<div class="header">
  <div class="spread-apart">
    <a routerLink="/">
      <div class="hero">Emrah</div>
    </a>

    <div class="navbar-desktop">
      <a href="#about">{{ 'HEADER.ABOUT_ME' | translate }}</a>
      <a href="#skills">{{ 'HEADER.SKILLS' | translate }}</a>
      <a href="#portfolio">{{ 'HEADER.PORTFOLIO' | translate }}</a>
      <a href="#contact">{{ 'HEADER.CONTACT' | translate }}</a>
    </div>

    <div class="language-buttons-desktop">
      <img
        src="../../assets/img/switch-language/england.png"
        alt="English"
        class="language-icon-desktop"
        (click)="setLanguage('en')"
      />
      <img
        src="../../assets/img/switch-language/german.png"
        alt="Deutsch"
        class="language-icon-desktop"
        (click)="setLanguage('de')"
      />
    </div>
    

    <div class="navbar-mobile">
        <img *ngIf="!navbarOpen && !animationClose" src="../../assets/img/header-img/burger menu.png" alt="Open Menu"
          class="burger-icon" (click)="toggleNavbar()" />
  
        <img *ngIf="navbarOpen && !animationClose" src="../../../assets/img/header-img/close.png" alt="Close Menu"
          class="burger-icon" (click)="toggleNavbar()" />
  
        <img *ngIf="animationClose"
          [src]="closeAnimationStage === 1 ? '../../../assets/img/header-img/close1 (1).png' : '../../../assets/img/header-img/close2 (1).png'"
          alt="Close Animation" class="burger-icon" />
  
        <div class="mobile-overlay" [class.navbar-open]="navbarOpen">
          <div class="overlay-header">
            <div class="overlay-hero">Emrah</div>
          </div>
          <nav class="navbar-content">
            <a href="#about" (click)="toggleNavbar()">{{ 'NAVBAR.ABOUT' | translate }}</a>
            <a href="#skills" (click)="toggleNavbar()">{{ 'NAVBAR.SKILLS' | translate }}</a>
            <a href="#portfolio" (click)="toggleNavbar()">{{ 'NAVBAR.PORTFOLIO' | translate }}</a>
            <a href="#contact" (click)="toggleNavbar()">{{ 'NAVBAR.CONTACT' | translate }}</a>

            <div class="language-buttons-mobile">
              <img
                src="../../assets/img/switch-language/england.png"
                alt="English"
                class="language-icon-mobile"
                (click)="setLanguage('en')"
              />
              <img
                src="../../assets/img/switch-language/german.png"
                alt="Deutsch"
                class="language-icon-mobile"
                (click)="setLanguage('de')"
              />
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>