<div class="about-container" id="about">
    <div class="about-wrapper">
        <div class="about-row">
            <div class="about-column" data-aos="fade-up" data-aos-duration="1500">
                <div class="about-title" data-aos="fade-right" data-aos-duration="1200">
                    About me
                </div>
                <div class="about-description" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
                    Hi, I&apos;m a German-speaking Frontend Developer based near Hamburg. Motivated by the limitless
                    opportunities within IT, I am excited about crafting visually captivating and intuitive websites and
                    applications.
                </div>
                <div class="about-highlight" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1200">
                    <div class="icon-container">
                        <img src="../../assets/img/about-me-img/11.Location.png" alt="Location Icon">
                    </div>
                    <div class="highlight-text">
                        Flexible in terms of working environments, I can work effectively around Winsen to Lüneburg or
                        Hamburg and remotely.
                    </div>
                </div>
                <div class="about-highlight" data-aos="zoom-in" data-aos-delay="700" data-aos-duration="1200">
                    <div class="icon-container">
                        <img src="../../assets/img/about-me-img/12. bulb desktop.png" alt="Bulb Icon">
                    </div>
                    <div class="highlight-text">
                        I am open-minded and always looking for personal challenges to constantly improve my knowledge
                        and skills.
                    </div>
                </div>
                <div class="about-highlight" data-aos="zoom-in" data-aos-delay="900" data-aos-duration="1200">
                    <div class="icon-container">
                        <img src="../../assets/img/about-me-img/13. puzzle desktop.svg" alt="Puzzle Icon">
                    </div>
                    <div class="highlight-text">
                        In my profession, programming isn't just about writing code; it's a creative form of
                        problem-solving. I take pride in my ability to distill complex technical challenges into simple,
                        user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="1100" data-aos-duration="1500" class="about-image-wrapper">
                <img src="../../assets/img/about-me-img/3072-4096-max (1).png" alt="About Me Image">
            </div>
            <div class="image-divider"></div>
        </div>
        <div class="about-shadow" data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1500">
            <img src="../../assets/img/about-me-img/30. Purple shadow about me.png" alt="Shadow Effect">
        </div>
    </div>
</div>
