<div class="about-container" id="about">
    <div class="about-wrapper">
        <div class="about-row">
            <div class="about-column" data-aos="fade-up" data-aos-duration="500">
                <div class="about-title" data-aos="fade-right" data-aos-duration="500">
                    {{ 'ABOUT.TITLE' | translate }}
                </div>
                <div class="about-description" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
                    {{ 'ABOUT.DESCRIPTION' | translate }}
                </div>
                <div class="about-highlight" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500">
                    <div class="icon-container">
                        <img src="../../assets/img/about-me-img/11.Location.png" alt="Location Icon">
                    </div>
                    <div class="highlight-text">
                        {{ 'ABOUT.LOCATION' | translate }}
                    </div>
                </div>
                <div class="about-highlight" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="500">
                    <div class="icon-container">
                        <img src="../../assets/img/about-me-img/12. bulb desktop.png">
                    </div>
                    <div class="highlight-text">
                        {{ 'ABOUT.BULB' | translate }}
                    </div>
                </div>
                <div class="about-highlight" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="300">
                    <div class="icon-container">
                        <img src="../../assets/img/about-me-img/13. puzzle desktop.svg">
                    </div>
                    <div class="highlight-text">
                        {{ 'ABOUT.PUZZLE' | translate }}
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="1100" data-aos-duration="300" class="about-image-wrapper">
                <img src="../../assets/img/about-me-img/3072-4096-max (1).png">
            </div>
            <div class="image-divider"></div>
        </div>
        <div class="about-shadow" data-aos="fade-up" data-aos-delay="500" data-aos-duration="300">
            <img src="../../assets/img/about-me-img/30. Purple shadow about me.png">
        </div>
    </div>
</div>
