<div class="references-section">
    <div class="reference-item" data-aos="fade-up" data-aos-duration="1500">
        <div class="reference-shadow" data-aos="fade-in" data-aos-duration="1200">
            <img src="../../assets/img/references-section-img/31. Green shadow Skills Portfolio (1).png" alt="Shadow Background">
        </div>
        <div class="reference-content" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
            <img class="reference-frame" src="../../assets/img/references-section-img/frame.png" alt="Reference Frame">
            <div class="reference-details">
                <div class="reference-text" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="reference-feedback">
                        Emrah consistently demonstrates exceptional reliability and a proactive, solution-oriented mindset in all collaborations.
                        With sharp analytical skills and remarkable initiative, Emrah excels at resolving complex challenges, providing invaluable support to the team during pivotal moments.
                        Notably, Emrah's ability to swiftly grasp new concepts and systematically drive progress toward project goals stands out as a key strength.
                    </div>
                    <div class="reference-footer" data-aos="fade-in" data-aos-duration="1200">
                        <div class="reference-line"></div>
                        <div class="reference-author"><span>Jonas Müller - Team Partner</span></div>
                    </div>
                </div>
                <div class="reference-image-section" data-aos="flip-right" data-aos-duration="1200" data-aos-delay="700">
                    <div class="reference-image">
                        <img src="../../assets/img/references-section-img/thum-und-partner-team-Eichelhardt-hoch-02.jpg" alt="Team Image">
                    </div>
                    <div class="image-connection-line" data-aos="slide-right" data-aos-duration="1000"></div>
                    <nav>
                        <img src="../../assets/img/references-section-img/arrow_back_purple.png">
                        <img src="../../assets/img/references-section-img/arrow_forward_purple.png">
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

