<div class="references-section">
    <div class="reference-item" data-aos="fade-up" data-aos-duration="500">
        <div class="reference-shadow" data-aos="fade-in" data-aos-duration="500">
            <img src="../../assets/img/references-section-img/31. Green shadow Skills Portfolio (1).png" alt="Shadow Background">
        </div>
        <div class="reference-content" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500">
            <img class="reference-frame" src="../../assets/img/references-section-img/frame.png" alt="Reference Frame">
            <div class="reference-details">
                <div class="reference-text" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                    <div class="reference-feedback">
                        {{ 'REFERENCES-SECTION.TEAM-PARTNER' | translate }}
                    </div>
                    <div class="reference-footer" data-aos="fade-in" data-aos-duration="500">
                        <div class="reference-line"></div>
                        <div class="reference-author"><span>Jonas Müller - Team Partner</span></div>
                    </div>
                </div>
                <div class="reference-image-section" data-aos="flip-right" data-aos-duration="500" data-aos-delay="500">
                    <div class="reference-image">
                        <img src="../../assets/img/references-section-img/thum-und-partner-team-Eichelhardt-hoch-02.jpg" alt="Team Image">
                    </div>
                    <div class="image-connection-line" data-aos="slide-right" data-aos-duration="500"></div>
                </div>
            </div>
        </div>
    </div>
</div>

