@import '../../styles.scss';

@media only screen and (min-width: 4096px) and (min-height: 2304px)  {
    .left-headline {
        width: 144vw;
        z-index: 13;
        margin-left: -56vw;
    }

    .right-headline {
        width: 119vw;
        margin-right: -57vw;
    }
    .portfolio-section{
        margin-top: -200px;
        padding-top: -200px;
    }
}

@media only screen and (min-width: 3840px) and (min-height: 2160px)  {
    .left-headline {
        width: 144vw;
        margin-left: -38vw;
    }

    .right-headline {
        width: 150vw;
        margin-right: -46vw;
    }
}

@media only screen and (max-width: 2560px) and (max-height: 1440px)  {
    .left-headline {
        margin-left: -51vw;
    }
}