<div class="portfolio-section">
    <div class="portfolio section" id="portfolio">
        <div class="shadow-portfolio" data-aos="fade-up" data-aos-duration="1500">
            <img src="../../assets/img/portfolio-section-img/32 Purple shadow portfolio.png">
        </div>
        <div class="headline-portfolio-section" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
            <div class="left-headline"></div>
            <div class="headline">Portfolio</div>
            <div class="right-headline"></div>
        </div>
        <div class="text-under-headline" data-aos="fade-left" data-aos-duration="1000">
            <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
        </div>

        <div class="large-container-section" data-aos="zoom-in" data-aos-duration="1200">
            <div class="inner-container">
                <div class="right-inner" data-aos="flip-left" data-aos-duration="1200">
                    <img src="../../assets/img/portfolio-section-img/join1.png">
                </div>
                <div class="left-inner" data-aos="fade-right" data-aos-duration="1200">
                    <div class="text-position">
                        <div class="first">Join</div>
                        <div class="second">JavaScript | HTML | CSS | Firebase</div>
                        <div class="third">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</div>
                    </div>
                    <div class="button-section" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <a class="href" href="/join" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/EmrahOkur/Join/tree/main/join" target="_blank"><button class="none">Github</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="large-container align-center-left" data-aos="fade-left" data-aos-duration="1500">
            <div class="inner-container">
                <div class="left-inner" data-aos="zoom-in" data-aos-duration="1200">
                    <div class="text-position">
                        <div class="first headline-pollo">El Pollo Loco</div>
                        <div class="second headline-pollo">JavaScript | HTML | CSS</div>
                        <div class="third">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and bottles to fight against the boss chicken.</div>
                    </div>
                    <div class="button-section-pollo" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <a class="href" href="/polloloco" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/EmrahOkur/El-Pollo-Loco" target="_blank"><button class="none">Github</button></a>
                    </div>
                </div>
                <div class="right-inner" data-aos="flip-right" data-aos-duration="1200">
                    <img src="../../assets/img/portfolio-section-img/loco.png">
                </div>
            </div>
        </div>

        <div class="large-container" data-aos="zoom-in" data-aos-duration="1500">
            <div class="inner-container">
                <div class="right-inner" data-aos="fade-up" data-aos-duration="1200">
                    <img src="../../assets/img/portfolio-section-img/dex.png">
                </div>
                <div class="left-inner" data-aos="fade-right" data-aos-duration="1200">
                    <div class="text-position">
                        <div class="first">Pokédex</div>
                        <div class="second">JavaScript | HTML | CSS | API</div>
                        <div class="third">Based on the PokéAPI, a simple library that provides and catalogues Pokémon information.</div>
                    </div>
                    <div class="button-section" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <a class="href" href="/pokedex" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/EmrahOkur/Pokedex" target="_blank"><button class="none">Github</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
