<div class="portfolio-section" >
    <div class="portfolio section" id="portfolio">
        <div class="shadow-portfolio image" data-aos="fade-up" data-aos-duration="500">
            <img class="image" src="../../assets/img/portfolio-section-img/32 Purple shadow portfolio.png">
        </div>
        <div class="headline-portfolio-section" data-aos="fade-right" data-aos-duration="500" data-aos-delay="200">
            <div class="left-headline"></div>
            <div class="headline">Portfolio</div>
            <div class="right-headline"></div>
        </div>
        <div class="text-under-headline" data-aos="fade-left" data-aos-duration="500">
            <span>{{ 'PORTFOLIO-SECTION.PORTFOLIO-UNDER-HEADLINE' | translate }}</span>
        </div>

        <div class="large-container-section" data-aos="zoom-in" data-aos-duration="500">
            <div class="inner-container">
                <div class="right-inner" data-aos="flip-left" data-aos-duration="500">
                    <img src="../../assets/img/portfolio-section-img/join1.png">
                </div>
                <div class="left-inner" data-aos="fade-right" data-aos-duration="500">
                    <div class="text-position">
                        <div class="first">Join</div>
                        <div class="second">JavaScript | HTML | CSS | Firebase</div>
                        <div class="third">{{ 'PORTFOLIO-SECTION.JOIN-UNDER-HEADLINE' | translate }}</div>
                    </div>
                    <div class="button-section" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
                        <a class="href" href="https://emrah-okur.de/Projekt1/" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/EmrahOkur/Join/tree/main/join" target="_blank"><button class="none">Github</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="large-container align-center-left" data-aos="fade-left" data-aos-duration="500">
            <div class="inner-container">
                <div class="left-inner" data-aos="zoom-in" data-aos-duration="500">
                    <div class="text-position">
                        <div class="first headline-pollo">El Pollo Loco</div>
                        <div class="second headline-pollo">JavaScript | HTML | CSS</div>
                        <div class="third">{{ 'PORTFOLIO-SECTION.LOCO-UNDER-HEADLINE' | translate }}</div>
                    </div>
                    <div class="button-section-pollo" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
                        <a class="href" href="https://emrah-okur.de/Projekt2/" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/EmrahOkur/El-Pollo-Loco" target="_blank"><button class="none">Github</button></a>
                    </div>
                </div>
                <div class="right-inner" data-aos="flip-right" data-aos-duration="500">
                    <img class="image" src="../../assets/img/portfolio-section-img/loco.png">
                </div>
            </div>
        </div>

        <div class="large-container" data-aos="zoom-in" data-aos-duration="500">
            <div class="inner-container">
                <div class="right-inner" data-aos="fade-up" data-aos-duration="500">
                    <img class="image" src="../../assets/img/portfolio-section-img/dex.png">
                </div>
                <div class="left-inner" data-aos="fade-right" data-aos-duration="500">
                    <div class="text-position">
                        <div class="first">Pokédex</div>
                        <div class="second">JavaScript | HTML | CSS | API</div>
                        <div class="third">{{ 'PORTFOLIO-SECTION.POKEDEX-UNDER-HEADLINE' | translate }}</div>
                    </div>
                    <div class="button-section" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
                        <a class="href" href="https://emrah-okur.de/Projekt3/" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/EmrahOkur/Pokedex" target="_blank"><button class="none">Github</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
