@import '../../styles.scss';

// Für sehr kleine Bildschirme
@media (max-width: 500px) {
    .secondary-shadow {
        margin-top: 55%;
        bottom: 120px;
    }

    .hero-image {
        top: 1vh;
    }

    .scroll-section {
        margin-top: -25px;
    }
}

// Für kleinere Bildschirme unter 480px
@media (max-width: 480px) {
    .secondary-shadow {
        margin-top: 33vh;
    }


    .cta-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-top: -50px;
        

    }
    .hero-name{
        display: flex;
        justify-content: center;
        align-items: center;

    }
   
    .footer-links{
        display: none;
    }
    .hero-name-title .hero-name h1 {
        position: absolute; /* Aktiviert absolute Positionierung */
        top: 50%; /* Positionierung von oben */
        left: 50%; /* Positionierung von links */
        transform: translate(-50%, -50%) translate(20px, -100px); /* Zentriert und verschiebt */
        text-align: center; /* Zentriert den Text horizontal */
        font-size: 36px !important; /* Kleinere Schriftgröße */
        
      
    }
    .hero-subtitle{
        position: absolute; /* Aktiviert absolute Positionierung */
    top: 50%; /* Positionierung von oben */
    left: 50%; /* Positionierung von links */
    transform: translate(-50%, -150%) translate(20px, 30px); /* Zentriert und verschiebt */
    text-align: center; /* Zentriert den Text horizontal */
    }
    
    .hero-subtitle span {
        font-size: 36px !important; /* Schriftgröße */
        color: #9747ff; /* Textfarbe */
        font-family: 'Poppins', sans-serif; /* Schriftart */
        
    }
    .intro-text {
        position: relative; /* Ermöglicht relative Verschiebung */
        top: -90px; /* Hebt das Element an */
        left: 50px;
        text-align: center; /* Zentriert den Text */
    }
    
    .intro-text p {
        font-size: 14px !important; /* Schriftgröße */
        font-family: 'Poppins', sans-serif;
        color: white;
        margin: 0; /* Entfernt Standard-Abstand */
    }

    .text-section {
        position: relative; /* Ermöglicht relative Verschiebung */
        transform: translate(-10px, 20px); /* Verschiebt den gesamten Container */
    }

    
}

// Für kleine Bildschirme mit spezifischen Abmessungen
@media (max-width: 360px) {
    .text-section {
        margin-top: -13vh;
    }

    .secondary-shadow {
        margin-top: -11vh;
    }

    .hero-image {
        top: -5vh;
        width: 352px;
    }
}
