@import '../../styles.scss';

@media (max-width: 620px) {
  .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: 40px !important;
   }
    .hero-image {
        top: -4vh;
        width: 400px;
        height: auto;
    }

    .hero-main {
        .hero-description {
            margin-left: auto;

            .intro-text {
                width: 100px;
                height: 30px;
                margin-bottom: -42px;
                margin-right: -10px;
            }

            .intro-text p {
                height: 1px;
                font-size: 25.8px;
                line-height: 16px;
                justify-content: center;
                margin-bottom: 1px;
                margin-left: -20px;
            }

            .hero-name-title {
                width: 350px;
                height: 40px;

                .hero-name {
                    height: 30px;
                    width: 350px;
                    height: 40px;
                }

                .hero-name h1 {
                    font-weight: 700;
                    font-size: 49px;
                    line-height: 12px;
                }

                .hero-subtitle {
                    width: 350px;
                    height: 40px;
                }

                .hero-subtitle span {
                    font-weight: 700;
                    font-size: 26.8px;
                    line-height: 26px;
                }
            }
        }
    }

    .text-section {
        display: flex;
        justify-content: center;
        margin-left: 7%;
        margin-top: -3vh;
        
    }

    .cta-button {
        margin-top: 3%;
    }
    
}

@media (min-width: 477px) and (max-width: 600px) {
  .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: 20px !important;
   }
    .footer-links{
      left: -20px;
    }
}

@media (max-width: 435px) {

    .hero-image {
        top: -7vh;
        width: 400px;
        height: auto;
    }

    .hero-main {
        .hero-description {

            .hero-name-title {

                .hero-name h1 {
                    font-size: 48px;
                    margin-left: 20px;
                    line-height: 20px;
                }

                .hero-subtitle {
                    margin-left: 20px;
                }
            }
        }
    }

    p{
        font-size: 23px ;
        font-weight: 500 ;
        margin-left: -10px ;
        margin-top: 50px;
    }

    .background-shadow{
        margin-top: -20%;
        left: 10px ;
    }
    .text-section{
        margin-bottom: 120px;
        
    }

    .footer-links{
        left: -20px;
    }
    

}

@media screen and (width: 440px){
    .hero-image{
        top:-50px;
    }
    .background-shadow{
      width: 400px !important;
      height: 400px !important;
      left: 20px !important;
     }
    .text-section{
        top: -120px;
    }
    .footer-links{
        left: 0px;
    }
    h1{
        font-size: 50px ;
        line-height: 10px ;
    }
    p{
        font-size: 30px ;
        margin-top: 20px ;
        margin-left: 1px ;
    }
}

/* Breite 400px bis 480px (kleinere Tablets und größere Smartphones) */
@media (min-width: 400px) and (max-width: 435px) {
  .hero-image {
    margin-top: 2%;
    width: 350px;
  }

  .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: 20px !important ;
   }

  .cta-button {
    margin-left: 5%;
  }

  .divider {
    width: 20%;
  }

  .social-links {
    margin-right: 16%;
  }

  .text-section {
    margin-left: 1%;
    margin-top: -10vh;
  }

  .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: 20px !important;
   }

  p{
    font-size: 23px !important;
    margin-left: -22px !important ;
    margin-bottom: 5px !important ;
  }
}



/* Breite 361px bis 399px (mittlere Smartphones) */
@media (min-width: 376px) and (max-width: 399.33px) {
  .hero-image {
    top: 12vh;
  }

  h1 {
    font-size: 50px ;
    line-height: 20px;
  }

  p {
    font-size:24px !important ;
    margin-left: -22px !important ;
    margin-top: 30px !important ;
    font-weight: 500 !important;
  }

  .hero-description {
    margin-left: 0;
  }

  .text-section {
    margin-top: 10vh;
    left: 0px;
  }

  .background-layer {
    width: 500px;
    top: 14vh;
  }

  .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: 20px !important;
   }

  .footer-links {
    left: 0px;
    top: 30px;
  }
}




/* Bis 360px (kleinere Smartphones) */
@media (max-width: 360px) {
  .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: -20px !important;
    top: 30px;
   }

  .hero-image {
    top: 15vh;
    right: 10px;
  }

  .cta-button {
    margin-left: 10px !important;
  }

  .text-section {
    top: 10vh;
    margin-left: 80px;
    transform: scale(0.9);
  }

  .footer-links {
    left: 0px;
    top: 20px;
  }

  h1 {
    font-size: 48px ;
    line-height: 8px;
  }

  p {
    width: 152px;
    height: 63px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 ;
    font-size: 22px !important;
    line-height: 0px !important ;
    color: white;
    margin-bottom: -1px !important ;
    margin-left: -25px !important ;
  }
  
}

/* Bis 320px (sehr kleine Smartphones) */
@media (max-width: 320px) {
  .hero-image {
    top: 25vh !important;
    width: 347px;
  }

  .background-shadow{
    width: 300px !important;
    height: 300px !important;
    left: -20px !important;
    top: 100px;
   }

  .hero-container {
    height: 76vh;
  }

  .text-section {
    margin-top: 5vh;
    transform: scale(0.7);
    margin-left: 70px;
  }

  .footer-links {
    left: 0px;
    top: 0px;
  }

  h1 {
    font-size: 48px !important;
    line-height: 8px !important;
  }

  p {
    display: flex !important;
    justify-content: flex-start !important;
    width: 152px;
    height: 63px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    font-size: 25px !important;
    line-height: 45.6px !important;
    color: white;
    margin-bottom: 30px !important;
    margin-left: 12px !important;
  }
}



@media (max-width: 394px) {
    .background-shadow{
        margin-top: 300px;
        margin-left: 80px !important;
    }
    .hero-image{
        margin-top: -10vh;
        width: 350px;
    }
    .text-section{
        margin-bottom: 120px;
        margin-right: 80px;

    }
    .cta-button{
        margin-left: 20px;
    }
    
}

@media (min-width: 375px) and (max-width: 376px) {
   .hero-image{
    top:120px;
   }

   .text-section{
    top:80px;
    left: 20px;
   }

   p{
    font-size: 23px !important;
    margin-left: -25px !important;
    margin-top: 30px !important;
   }

   .footer-links{
    top:50px;
   }
   .background-shadow{
    width: 400px !important;
    height: 400px !important;
    left: -10px !important;
    top: 30px;
   }
}

@media (min-width: 361px) and (max-width: 374px){
  .hero-image{
    margin-top: 30%;
  }

  p{
    font-size: 23px !important;
    margin-left: -20px !important;
    margin-top: 30px;
    
  }
}