<div class="hero-container">
    <div class="hero-content">
        <div class="hero-main">
            <div class="background-layer">
                <img class="background-shadow" src="../../assets/img/hero-img/29. photo shadows (1).png">
            </div>
            <img class="hero-image" src="../../assets/img/hero-img/3072-4096-max NEU NEU NEU.png">
            <div class="text-section">
                <div class="hero-description">
                    <div class="intro-text">
                        <p>I am</p>
                    </div>
                    <div class="hero-name-title">
                        <div class="hero-name">
                            <h1>Emrah Okur</h1>
                        </div>
                        <div class="hero-subtitle">
                            <span>FRONTEND DEVELOPER</span>
                        </div>
                    </div>
                </div>
                <a href="#contact" class="cta-link">
                    <button class="cta-button">
                        <span class="cta-text">Let's talk</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="footer-links">
            <div class="social-links">
                <div class="divider"></div>
                <div class="social-icon">
                    <a href="https://github.com/EmrahOkur" target="_blank"><img src="../../assets/img/hero-img/github.png"></a>
                </div>
                <div class="social-icon">
                    <a href="mailto:info@emrahokur.de"><img src="../../assets/img/hero-img/email.png"></a>
                </div>
                <div class="social-icon">
                    <a href="https://www.linkedin.com/in/emrah-okur-9586576/" target="_blank"><img src="../../assets/img/hero-img/linked.png"></a>
                </div>
                <a href="mailto:info@emrahokur.de" [style.cursor]="'pointer'">
                    <div class="contact-email">info&#64;emrahokur.com</div>
                </a>
            </div>
            <div class="scroll-section">
                <div class="scroll-prompt">
                    Scroll down<img src="../../assets/img/hero-img/arrow-down-line (1).png">
                </div>
            </div>
        </div>
    </div>
</div>

