@import '../../styles.scss';

@media (max-width: 500px) {
    .background-shadow {
        margin-top: 55%;
    }

    .hero-image {
        top: 1vh;
    }

    .footer-links {
        margin-top: -25px;
    }
}

//iphone se
@media (max-width: 480px) and (max-height: 800px) {
    .background-shadow {
        margin-top: -3vh;
        transform: translateX(-30px);
    }

    .text-section {
        transform: translateY(25px);
    }

    .cta-button {
        transform: translateY(-45px);
    }

    .footer-links {
        margin-left: 120px;
        top: 20px;
    }

    .text-section h1 {
        font-size: 49px !important;
        line-height: 10px !important; /* Größere Schriftgröße */
    }

    .intro-text p{
        font-size: 30px !important;
        padding-left:20px !important;
    }
}

//iphone xr
@media (max-width: 480px) and (min-height: 801px) {
    .background-shadow {
        margin-top: -1vh;
        transform: scale(1.2) translateX(-50px);
    }
    

    .text-section {
        transform: scale(1.1) translateY(-150px) translateX(0px);
        
    }
    .hero-image{
        margin-bottom: 250px;
    }
    .background-shadow{
        bottom: 100px;
    }
    .text-section h1 {
        font-size: 49px !important;
        line-height: 10px !important; /* Größere Schriftgröße */
    }

    .intro-text p{
        font-size: 30px !important;
        padding-left:20px !important;
    }



    .footer-links {
        margin-left: 140px;
        top: -110px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 480px) and (min-height: 896px) and (max-height: 896px) {

    .text-section {
        margin-left: 1%;
        margin-top: -6vh;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360px) and (min-height: 768px) and (max-height: 768px) {

    .text-section {
        margin-top: -13vh;
    }

    .background-shadow {
        margin-top: -11vh;
    }

    .hero-image {
        top: -5vh;
        width: 352px;
    }
}
