<div class="privacy-policy-content">

    <div class="privacy-policy-container">
        <div class="privacy-policy-title">
            <div class="horizontal-line"></div>
            <h1>{{ 'PRIVACY-SECTION.HEADLINE1' | translate }}</h1>
        </div>

        <div class="details-container">
            <h2>{{ 'PRIVACY-SECTION.DETAIL-FIRST' | translate }}</h2>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH1' | translate }}
                
                <br><br>
                {{ 'PRIVACY-SECTION.PARAGRAPH2' | translate }}
            </p>
        </div>

        <div class="details-container">
            <h2>{{ 'PRIVACY-SECTION.HEADLINE2' | translate }}</h2>
            <p>
                {{ 'PRIVACY-SECTION.PARAGRAPH3' | translate }}
            </p>
            <ul>
                <li>{{ 'PRIVACY-SECTION.LIST1' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST2' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST3' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST4' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST5' | translate }}</li>
            </ul>
            <p>
                {{ 'PRIVACY-SECTION.PARAGRAPH4' | translate }}
            </p>
        </div>



        <div class="details-container">
            <h2>{{ 'PRIVACY-SECTION.HEADLINE3' | translate }}</h2>
            <p>
                {{ 'PRIVACY-SECTION.PARAGRAPH5' | translate }}
            </p>
            <ul>
                <li>{{ 'PRIVACY-SECTION.LIST6' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST7' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST8' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST9' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST10' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST11' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST12' | translate }}</li>
                <li>Browser</li>
                <li>{{ 'PRIVACY-SECTION.LIST13' | translate }}</li>
                <li>{{ 'PRIVACY-SECTION.LIST14' | translate }}</li>
            </ul>
        </div>


        <div class="details-container">
            <h2>{{ 'PRIVACY-SECTION.HEADLINE4' | translate }}
            </h2>
            <p>
                <li>{{ 'PRIVACY-SECTION.PARAGRAPH6' | translate }}</li>
            </p>
        </div>


        <div class="details-container">
            <h2>5. Hosting</h2>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH7' | translate }}</p>
            <p>All-Inkl</p>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH8' | translate }} <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
                    rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a></p>

            <p>{{ 'PRIVACY-SECTION.PARAGRAPH9' | translate }}</p>

            <p>{{ 'PRIVACY-SECTION.PARAGRAPH-HEADLINE' | translate }}<strong></strong></p>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH10' | translate }}</p>
        </div>



        <div class="details-container">
            <h2>6. Plugins und Tools</h2>
            <p><strong>{{ 'PRIVACY-SECTION.HEADLINE6' | translate }}</strong></p>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH11' | translate }}</p>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH12' | translate }} <a href="https://developers.google.com/fonts/faq"
                    target="_blank" rel="noopener noreferrer"> https://developers.google.com/fonts/faq</a> {{ 'PRIVACY-SECTION.PARAGRAPH13' | translate }} 
                <a href="https://policies.google.com/privacy" target="_blank"
                    rel="noopener noreferrer">https://policies.google.com/privacy</a></p>
        </div>

        <div class="details-container">
            <h2>{{ 'PRIVACY-SECTION.HEADLINE7' | translate }} 
                </h2>
            <p>{{ 'PRIVACY-SECTION.PARAGRAPH14' | translate }}</p>
        </div>


    </div>
</div>
