
<div class="legal-notice-content">

    <div class="legal-notice-container">
        <div class="legal-notice-title">
            <div class="horizontal-line"></div>
            <h1>{{ 'LEGACY-SECTION.HEADLINE' | translate }}</h1>
        </div>
    
        <h2 class='purble-color'>{{ 'LEGACY-SECTION.PURPLE-HEADLINE' | translate }}</h2>
    
        <p>Emrah Okur<br>An'n Haidweg 1<br>21423 Winsen Luhe<br>Germany</p>
    
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.KONTAKT' | translate }}</h2>
            <p>E-Mail: <a href="mailto:info@emrah-okur.de">info&#64;emrah-okur.de</a></p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL1' | translate }}</h2>
            <p>
                {{ 'LEGACY-SECTION.DESCRIPTION1' | translate }}
            </p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL2' | translate }}</h2>
            <p>
                {{ 'LEGACY-SECTION.DESCRIPTION2' | translate }}
            </p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL3' | translate }}</h2>
            <p>
                {{ 'LEGACY-SECTION.DESCRIPTION3' | translate }}
            </p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL4' | translate }}</h2>
            <p>
                {{ 'LEGACY-SECTION.DESCRIPTION4' | translate }}
            </p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL5' | translate }}</h2>
            <p>
                {{ 'LEGACY-SECTION.DESCRIPTION5' | translate }}
            </p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL6' | translate }}</h2>
            <p>   {{ 'LEGACY-SECTION.DESCRIPTION6' | translate }}</p>
        </div>
    
        <div class="details-container">
            <h2>{{ 'LEGACY-SECTION.DETAIL7' | translate }}</h2>
            <p>
                {{ 'LEGACY-SECTION.DESCRIPTION7' | translate }}
                 <a routerLink="/privacy-policy" (click)="scrollToTop()">{{ 'LEGACY-SECTION.DETAIL-LINK' | translate }}</a>
            </p>
        </div>
    </div>
</div>
