<div class="skills-container-wrapper">
    <div class="skills-section" id="skills">
        <div class="skills-main-wrapper">
            <div class="responsive-container" data-aos="slide-up">
                <div class="responsive-column">
                    <div class="responsive-headline">
                        
                    </div>
                    <div class="responsive-text">
                        
                    </div>
                </div>
                <div class="over-responsive-line">
                    <div class="responsive-line"></div>
                </div>
            </div>

            <div class="green-shadow">
                <img src="../../assets/img/skills-section-img/31. Green shadow Skills Portfolio.png">
            </div>
            <div class="skills-icons-wrapper" data-aos="slide-right">
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/html.png">HTML</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/css.png">CSS</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/javascript.png">JavaScript</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/typescript.png">TypeScript</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/angular.png">Angular</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/firebase.png">Firebase</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/git.png">GIT</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/api.png">Rest-Api</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/scrum.png">Scrum</div>
                <div class="tech-icons"><img src="../../assets/img/skills-section-img/material.png">Material Design</div>
                <div class="tech-icons continually-learning learning">
                    <img src="../../assets/img/skills-section-img/learning.svg" class="main-icon">
                    <img src="../../assets/img/skills-section-img/group.png" class="overlay-icon">
                    <span>Continually learning</span>
                </div>
            </div>
            <div class="text-skills" data-aos="slide-left">
                <div class="skills-details-row">
                    <div class="skills-section-title">
                        My skills
                    </div>
                    <div>
                        <div class="line-in-skills"></div>
                    </div>
                </div>
                <div class="under-text-skills">
                    <div class="first-under-text-skills">
                        I have gained experience in building projects with different frontend technologies and concepts.
                    </div>
                    <div class="under-text-skills-smaller">
                        <div class="responsive-lower">
                            <div class="second-under-text-skills">
                                Looking for <span class="highlight">another skill</span>?
                            </div>
                            <div class="third-under-text-skills">
                                Feel free to contact me. I look forward to expanding on my previous knowledge.
                            </div>
                        </div>
                        <div data-aos-delay="1000" data-aos="fade-up">
                            <a href="#contact"><button>
                                    <div class="button-text">Get in touch</div>
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>