<div class="contact-section" id="contact">
    <div class="contact-container">
        <div class="contact-header">
            <div class="contact-divider"></div>
            <div class="contact-title">{{ 'CONTACT-SECTION.CONTACT-HEADLINE' | translate }}</div>
        </div>
        <div class="contact-content">
            <div class="contact-intro">
                <div class="contact-intro-text" data-aos="slide-right">
                    <div class="contact-problem">{{ 'CONTACT-SECTION.CONTACT-UNDER-HEADLINE' | translate }}</div>
                    <div class="contact-description">
                        {{ 'CONTACT-SECTION.CONTACT-DESCRIPTION' | translate }}
                    </div>
                    <div class="contact-invite">{{ 'CONTACT-SECTION.CONTACT-ME' | translate }}</div>
                </div>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form" data-aos="zoom-in-up">
                <div class="form-field form-name">
                    <input type="text" placeholder="{{ 'CONTACT-SECTION.CONTACT-NAME' | translate }}"formControlName="name"
                        [ngClass]="{'valid-border': name?.valid && name?.touched, 'error-border': name?.invalid && name?.touched}"
                        [ngStyle]="{'border-color': name?.invalid && name?.touched ? 'red' : null}">
                    <img *ngIf="name?.touched"
                        [src]="name?.valid ? '../../assets/img/contact-img/check.png' : '../../assets/img/contact-img/error.png'"
                        alt="Validation Icon" class="validation-icon">
                    <div *ngIf="name?.invalid && name?.touched" class="error-message">
                        <small *ngIf="name?.errors?.['required']" >{{ 'NAME-ERRORS.REQUIRED' | translate }}</small>
                        <small *ngIf="name?.errors?.['minlength']" >{{ 'NAME-ERRORS.MIN-LENGTH' | translate }}</small>
                        <small *ngIf="name?.errors?.['maxlength']" >{{ 'NAME-ERRORS.MAX-LENGTH' | translate }}</small>
                    </div>
                </div>

                <div class="form-field form-email">
                    <input type="email" placeholder="{{ 'CONTACT-SECTION.CONTACT-EMAIL' | translate }}" formControlName="email"
                        [ngClass]="{'valid-border': email?.valid && email?.touched, 'error-border': email?.invalid && email?.touched}"
                        [ngStyle]="{'border-color': email?.invalid && email?.touched ? 'red' : null}">
                    <img *ngIf="email?.touched"
                        [src]="email?.valid ? '../../assets/img/contact-img/check.png' : '../../assets/img/contact-img/error.png'"
                        alt="Validation Icon" class="validation-icon">
                    <div *ngIf="email?.invalid && email?.touched" class="error-message">
                        <small *ngIf="email?.errors?.['required']">{{ 'EMAIL-ERRORS.REQUIRED' | translate }}</small>
                        <small *ngIf="email?.errors?.['email']">  {{ 'EMAIL-ERRORS.INVALID' | translate }}</small>
                        <small *ngIf="email?.errors?.['strictEmail']">{{ 'EMAIL-ERRORS.STRICT' | translate }}</small>
                        <small *ngIf="email?.errors?.['maxlength']">  {{ 'EMAIL-ERRORS.MAX-LENGTH' | translate }}</small>
                    </div>
                </div>

                <div class="form-field form-message">
                    <textarea placeholder="{{ 'CONTACT-SECTION.CONTACT-MESSAGE' | translate }}" formControlName="message"
                        [ngClass]="{'valid-border': message?.valid && message?.touched, 'error-border': message?.invalid && message?.touched}"
                        [ngStyle]="{'border-color': message?.invalid && message?.touched ? 'red' : null}"></textarea>
                    <img *ngIf="message?.touched"
                        [src]="message?.valid ? '../../assets/img/contact-img/check.png' : '../../assets/img/contact-img/error.png'"
                        alt="Validation Icon" class="validation-icon">
                    <div *ngIf="message?.invalid && message?.touched" class="error-message">
                        <small *ngIf="message?.errors?.['required']" >{{ 'MESSAGE-ERRORS.REQUIRED' | translate }}</small>
                        <small *ngIf="message?.errors?.['minlength']" > {{ 'MESSAGE-ERRORS.MIN-LENGTH' | translate }}</small>
                        <small *ngIf="message?.errors?.['maxlength']" >{{ 'MESSAGE-ERRORS.MAX-LENGTH' | translate }}</small>
                    </div>
                </div>

                <div class="form-field form-consent">
                    <div class="consent-checkbox">
                        <input type="checkbox" id="consentCheckbox" formControlName="consent" />
                        <label for="consentCheckbox">
                            {{ 'PRIVACY-POLICY.TEXT' | translate }}<a class="router" routerLink="/privacy-policy" (click)="scrollToTop()"> {{ 'PRIVACY-POLICY.LINK' | translate }}</a> {{ 'PRIVACY-POLICY.AGREE' | translate }}
                        </label>
                    </div>
                    <div *ngIf="consent?.invalid && consent?.touched" class="error-message">
                        <small>{{ 'PRIVACY-POLICY.AGREEMENT' | translate }}</small>
                    </div>
                </div>
                <button data-aos-delay="2000" data-aos="fade-up" id="submitButton" [disabled]="contactForm.invalid"
                    [ngClass]="{'active': contactForm.valid}">
                    {{ 'MESSAGE-ERRORS.SEND-MESSAGE' | translate }}
                </button>
            </form>
            <div class="confirmation-container" *ngIf="showConfirmation">
                <p>{{ 'MESSAGE-ERRORS.SEND-MESSAGE2' | translate }}</p>
            </div>
        </div>
        <div class="scroll-to-top">
            <a href="#"><img src="../../assets/img/contact-img/arrow_up.png"></a>
        </div>
        <div class="contact-footer-shadow">
            <img src="../../assets/img/contact-img/33. Purple shadow Footer.png">
        </div>
    </div>
</div>
